@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - World Wide Importers</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div id="wrap">
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
						<li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
						<li>@Html.ActionLink("Roles", "Index", "Roles", new { area = "" }, null)</li>
					</ul>
					@Html.Partial("_partialLogin")
				</div>
			</div>
		</div>
		<div class="container body-content">
			@RenderBody()
		</div>
		<div class="push"></div>
	</div>
	<footer class="footer">
		@Html.Partial("_partialFooter")
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
